version: "3"

services: 
  laptop_setup:
    image: ghcr.io/droid-dataset/droid_laptop:${ROBOT_TYPE}
    environment:
      ROOT_DIR: ${ROOT_DIR}
      DISPLAY: ${DISPLAY}
      XAUTHORITY: ${DOCKER_XAUTH}
      ROBOT_TYPE: ${ROBOT_TYPE}
      LIBFRANKA_VERSION: ${LIBFRANKA_VERSION}
      NUC_IP: ${NUC_IP}
      ROBOT_IP: ${ROBOT_IP}
      LAPTOP_IP: ${LAPTOP_IP}
      NVIDIA_VISIBLE_DEVICES: all
      ANDROID_ADB_SERVER_ADDRESS: host.docker.internal
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${DOCKER_XAUTH}:${DOCKER_XAUTH}
      - ${ROOT_DIR}/droid/pyomyo:/app/droid/pyomyo
      - ${ROOT_DIR}/droid/emg_utils:/app/droid/emg_utils
      - ${ROOT_DIR}/droid/trajectory_utils/misc.py:/app/droid/trajectory_utils/misc.py:rw
      - ${ROOT_DIR}/droid/camera_utils/info.py:/app/droid/camera_utils/info.py:rw
      - ${ROOT_DIR}/droid/trajectory_utils/trajectory_writer.py:/app/droid/trajectory_utils/trajectory_writer.py:rw
      - ${ROOT_DIR}/droid/user_interface/data_collector.py:/app/droid/user_interface/data_collector.py:rw
      - ${ROOT_DIR}/droid/misc/server_interface.py:/app/droid/misc/server_interface.py:rw
      - ${ROOT_DIR}/droid/fairo/polymetis/polymetis/src/clients/franka_panda_client/franka_hand_client.cpp:/app/droid/fairo/polymetis/polymetis/src/clients/franka_panda_client/franka_hand_client.cpp:rw
      - ${ROOT_DIR}/droid/fairo/polymetis/polymetis/protos/polymetis.proto:/app/droid/fairo/polymetis/polymetis/protos/polymetis.proto:rw
      - ${ROOT_DIR}/droid/fairo/polymetis/polymetis/python/polymetis/gripper_interface.py:/app/droid/fairo/polymetis/polymetis/python/polymetis/gripper_interface.py:rw
      - ${ROOT_DIR}/droid/franka/launch_gripper.sh:/app/droid/franka/launch_gripper.sh:rw
      - ${ROOT_DIR}/.docker/laptop/entrypoint.sh:/app/.docker/laptop/entrypoint.sh:rw
      - ${ROOT_DIR}/droid/misc/parameters.py:/app/droid/misc/parameters.py
      - ${ROOT_DIR}/droid/calibration/calibration_info.json:/app/droid/calibration/calibration_info.json
      - ${ROOT_DIR}/data:/app/data
      - ${ROOT_DIR}/cache:/app/cache
    build: 
      context: ../../
      dockerfile: .docker/laptop/Dockerfile.laptop
      args:
        ROOT_DIR: ${ROOT_DIR}
        ROBOT_TYPE: ${ROBOT_TYPE}
        NUC_IP: ${NUC_IP}
        ROBOT_IP: ${ROBOT_IP}
    devices:
      - "/dev:/dev"
    runtime: nvidia
    privileged: true
    network_mode: "host"
    command: python /app/scripts/main.py
